<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   <!-- bean definition -->
   <bean id="xmlBean" class="study.spring.ioc.bean_factory.xml.XmlBean"
         init-method="myInit"
         destroy-method="myDestroy">
      <property name="name" value="wangzhj"/>
   </bean>

   <!-- bean post processor -->
   <bean class="study.spring.ioc.bean_post_processor.CustomBeanPostProcessor"/>
   <bean class="study.spring.ioc.bean_post_processor.CustomInstantiationAwareBeanPostProcessor"/>
<!--      <bean class="study.spring.ioc.bean_post_processor.CustomDestructionAwareBeanPostProcessor"/>-->
   <!-- no ordered -->
<!--   <bean class="study.spring.ioc.bean_post_processor.CustomMergedBeanDefinitionPostProcessor"/>-->
   <!--   <bean class="study.spring.ioc.bean_post_processor.CustomSmartInstantiationAwareBeanPostProcessor"/>-->
</beans>
