<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
   <!-- advice definition -->
   <bean id="myAdvice" class="study.spring.aop.schema.CustomAdvice"/>
   <!-- aop configuration -->
   <aop:config>
      <!-- order: pointcut ==> advisor ==> aspect -->
      <aop:pointcut expression="execution(public * study.spring.aop.*Service.*(..))" id="myPointCut"/>
      <!-- advisor configuration -->
      <!--      <aop:advisor advice-ref="myAfterReturningAdvice" pointcut-ref="myPointCut"/>-->
      <!-- aspect configuration-->
      <aop:aspect ref="myAdvice" order="1">
         <aop:before pointcut-ref="myPointCut" method="before" arg-names="joinPoint"/>
         <aop:after pointcut-ref="myPointCut" method="after" arg-names="joinPoint"/>
         <aop:around pointcut-ref="myPointCut" method="around" arg-names="joinPoint"/>
         <aop:after-throwing pointcut-ref="myPointCut" method="afterThrowing" arg-names="joinPoint, ex" throwing="ex"/>
         <aop:after-returning pointcut-ref="myPointCut" method="afterReturning" arg-names="joinPoint, retValue" returning="retValue"/>
      </aop:aspect>
   </aop:config>
</beans>
