<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
   <!-- （★）ioc config -->
   <bean id="configBean" class="study.spring.ioc.bean.ConfigBean" init-method="init" destroy-method="destroy">
      <property name="name" value="wangzhj"/>
   </bean>

   <!-- （★）aop config by proxy -->
   <bean id="greetingServiceTarget" class="study.spring.aop.GreetingService"/>
   <!-- advice -->
   <bean id="myBeforeAdvice" class="study.spring.aop.advice.MyBeforeAdvice"/>
   <bean id="myAfterReturningAdvice" class="study.spring.aop.advice.MyAfterReturningAdvice"/>
   <bean id="myMethodInterceptor" class="study.spring.aop.advice.MyMethodInterceptor"/>
   <!-- proxy config -->
   <bean id="greetingService" class="org.springframework.aop.framework.ProxyFactoryBean">
      <property name="target" ref="greetingServiceTarget"/>
      <property name="interceptorNames">
         <list>
            <value>myBeforeAdvice</value>
            <value>myAfterReturningAdvice</value>
            <value>myMethodInterceptor</value>
         </list>
      </property>
   </bean>
   <!-- （★）aop config by tag -->
   <!-- advice config -->
   <bean id="myAdvice" class="study.spring.aop.tag.MyAdvice"/>
   <aop:config>
      <!-- order: pointcut ==> advisor ==> aspect -->
      <aop:pointcut expression="execution(public * study.spring.aop.*Service.*(..))" id="myPointCut"/>
      <!-- advisor config -->
<!--      <aop:advisor advice-ref="myAfterReturningAdvice" pointcut-ref="myPointCut"/>-->
      <!-- aspect config-->
      <aop:aspect ref="myAdvice" order="1">
         <aop:before pointcut-ref="myPointCut" method="before" arg-names="joinPoint"/>
         <aop:after pointcut-ref="myPointCut" method="after" arg-names="joinPoint"/>
         <aop:around pointcut-ref="myPointCut" method="around" arg-names="joinPoint"/>
         <aop:after-throwing pointcut-ref="myPointCut" method="afterThrowing" arg-names="joinPoint, ex"
                             throwing="ex"/>
         <aop:after-returning pointcut-ref="myPointCut" method="afterReturning" arg-names="joinPoint, retValue"
                              returning="retValue"/>
      </aop:aspect>
   </aop:config>
</beans>
