<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean name="myLifecycleBean" class="study.spring.ioc.bean.MyLifecycleBean">
   </bean>

   <bean class="study.spring.ioc.processor.bean.CustomBeanPostProcessor" />
   <bean class="study.spring.ioc.processor.bean.CustomInstantiationAwareBeanPostProcessor" />

<!--   <bean class="study.spring.ioc.processor.bean.CustomMergedBeanDefinitionPostProcessor" />-->
</beans>
